build/**
**/build
**/thirdparties/include
build_ros/**
**/build_ros
Config.cmake
*.user
**/**/config.h
gen/**
gen
.vscode
**/*.pyc
.idea
**/gen_test*
venv
**/build
**/cpp_testing/CMakeLists.txt.user
**/gen
dist
